@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
* {
  box-sizing: border-box;
}
body {
font-size:12px;
font-family:'Poppins',sans-serif;
color:white;
background: linear-gradient(45deg,
  rgb(210, 131, 18,0.5),
  rgb(168, 50, 121,0.8)
  );
z-index: -1;
}
h1 {
  z-index:1;

}
