@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-size:16px;
  font-family:'Poppins',sans-serif;
  color:white;
  background: linear-gradient(45deg,
    rgb(210, 131, 18,0.5),
    rgb(168, 50, 121,0.8)
  ),
  url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:auto
  height:auto;
}
.main {
  text-align:center;
}
#title {
  margin-top: 1rem;
  margin-bottom: 0;
}
#description {
  margin-top: 0;
}
h3 {
  margin-left:0rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}
form {
background: rgb(0,0,0,0.5);
margin-bottom: 3.125rem;
padding: 2rem;
border-radius: 5px;
}
label {
  display: flex;
  align-items: center;
}

.main-form{
  font-size: 1.2rem;
  font-weight: bold;
}
.clue {
  margin-left: 0rem;
}
.container {
  width:100%;
  padding:1rem;
}
.form-control {
  display: block;
  background: white;
  width:100%;
  width: 100%;
  height: 2.375rem;
  padding: 0rem 0.75rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-control:hover {
  border: 2px solid rgb(210, 131, 18);
}
.

textarea {
  margin-left: 1rem;
  height: 20%;
}

.input-text {
  width:100%;
  min-height: 5rem;
  border-radius: 0.25rem;
  font-family: sans-serif;
  padding: 0.5rem;
}

.checkbox-label, .radio-label {
min-height: 1.25rem;
min-width: 1.25rem;
margin: 0.4rem;
border: 1px solid yellow;
}

#komentar {
  margin-bottom: 1rem;
}

button {
  border:none;
  font-size: 1rem;
  border-radius: 0.3rem;
  background-color: black;
  color:white;
  margin-top: 1rem;
  padding:0.8rem;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: rgb(168, 50, 121,0.8);
  transition: background-color 0.5s ease-in-out;
}
button:active {
  background-color: rgb(142, 43, 102);
}
